body {
  background-color: rgb(220, 218, 225);
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  height: calc(100vh - 20px);
  padding: 10px;
  overflow: hidden;
}

.left-panel, .right-panel {
  background-color: rgb(240, 241, 244);
  border-radius: 28px;
  padding: 15px;
  /*box-sizing: border-box;*/
}

.left-panel {
  flex: 2.1; 
  margin-right: 10px;
  position: relative;
}

.right-panel {
  flex: 0.6; 
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}


/*navbar in the left panel*/
.navbar {
  position: absolute;
  right: 0;
  width: 60%; 
  display: flex;
  justify-content: space-between;
  align-items: center ;
  margin-right: 20px;
  margin-top: 10px;
  z-index: 1;
}



.nav-left, .nav-center, .nav-right {
  display: flex;
  align-items: center;
}

.today{
  border: none;
}

.nav-button {
  background-color: rgb(240, 241, 244);
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #ccc;
}

.nav-view {
  background-color:  rgb(240, 241, 244);
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-view:hover {
  background-color: #ca2d2d;
  color: white
}

.search-icon {
  left: 20 px;
  color: #3d3c3c;
}

.search-box {
  padding: 5px;
  background-color: rgb(240, 241, 244);
  border-radius: 5px;
  border: 1px;
  width: 60%;
}

.scheduler-navbar {
  margin-top: 10px; 
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgb(240, 241, 244);
  margin-bottom: 10px;
  margin-left: 15px;
} /*imported to scheduler*/

.calendar{
  padding-left: 10px;
}

p {
  font-family: system-ui;
}